src/main/mule/common-error-handler.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/cloudhub http://www.mulesoft.org/schema/mule/cloudhub/current/mule-cloudhub.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<error-handler name="Error_Handler">
		<on-error-propagate type="APIKIT:BAD_REQUEST" enableNotifications="true" logException="true">
			<logger level="INFO" doc:name="Error Handler Invoked - APIKIT_BAD_REQUEST" doc:id="d6a7a8d9-db0a-448f-a592-df786a7b4260" message="Error Handler Invoked - APIKIT_BAD_REQUEST" />
			<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
				xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="2108ebae-4cc2-42a0-b290-47a79af6abd0"
				doc:name="Error Response">
				<ee:message>
					<ee:set-payload resource="dwScripts/errorResponse400.dwl" />
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<async doc:name="Async" doc:id="a6d816e1-510e-4ef6-b1b2-d375bb076018">
				<flow-ref doc:name="alert-notification-sub-flow" doc:id="60e42ecd-895b-458d-ba78-0fe191a6eff5" name="alert-notification-sub-flow" />
			</async>
		</on-error-propagate>
		<on-error-propagate type="APIKIT:NOT_FOUND" enableNotifications="true" logException="true">
			<logger level="INFO" doc:name="Error Handler Invoked - APIKIT_NOT_FOUND" doc:id="512a13a8-f13d-4d45-9a8c-c49802342268" message="Error Handler Invoked - APIKIT_NOT_FOUND" />
			<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
				xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="c8097acd-b00d-4bb4-aa06-a72d8eb7c73b"
				doc:name="Error Response">
				<ee:message>
					<ee:set-payload resource="dwScripts/errorResponse404.dwl" />
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<async doc:name="Async" doc:id="1e395915-a6df-4c2f-abbf-eac732a07e40">
				<flow-ref doc:name="alert-notification-sub-flow" doc:id="a2decd83-9815-43f5-8833-e678da233b29" name="alert-notification-sub-flow" />
			</async>

		</on-error-propagate>
		<on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
			<logger level="INFO" doc:name="Error Handler Invoked - APIKIT_METHOD_NOT_ALLOWED" doc:id="3f069d36-1c7f-428c-b620-c2eb56a7a077" message="Error Handler Invoked - APIKIT_METHOD_NOT_ALLOWED" />
			<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
				xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="b6182492-bced-4e83-addf-9db03569637d"
				doc:name="Error Response">
				<ee:message>
					<ee:set-payload resource="dwScripts/errorResponse405.dwl" />
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<async doc:name="Async" doc:id="2b7f7dd9-dccc-42a8-aba5-baf3235bdfdb">
				<flow-ref doc:name="alert-notification-sub-flow" doc:id="6fc4fb51-203e-4f49-883d-f23b1e2f5239" name="alert-notification-sub-flow" />
			</async>

		</on-error-propagate>
		<on-error-propagate type="APIKIT:NOT_ACCEPTABLE" enableNotifications="true" logException="true">
			<logger level="INFO" doc:name="Error Handler Invoked - APIKIT_NOT_ACCEPTABLE" doc:id="b1313962-7a05-4e23-9f87-63d367bcfb65" message="Error Handler Invoked - APIKIT_NOT_ACCEPTABLE" />
			<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
				xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="7341fbfe-59f1-4a46-affc-2337e3adf95b"
				doc:name="Error Response">
				<ee:message>
					<ee:set-payload resource="dwScripts/errorResponse406.dwl" />
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<async doc:name="Async" doc:id="7d72e122-e53e-4dfd-b7e5-20bfe054864e">
				<flow-ref doc:name="alert-notification-sub-flow" doc:id="3b8e97e3-7ccb-4dc7-a7b6-84dab3187a8e" name="alert-notification-sub-flow" />
			</async>

		</on-error-propagate>
		<on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
			<logger level="INFO" doc:name="Error Handler Invoked - APIKIT_UNSUPPORTED_MEDIA_TYPE" doc:id="b02ece6b-8ab1-4212-89d8-2c662179d5bf"
				message="Error Handler Invoked - APIKIT_UNSUPPORTED_MEDIA_TYPE" />
			<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
				xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="c7c7ac26-1fc5-4bb5-bd50-d40d46ff3915"
				doc:name="Error Response">
				<ee:message>
					<ee:set-payload resource="dwScripts/errorResponse415.dwl" />
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<async doc:name="Async" doc:id="f5271a9d-d763-4364-8ccd-32694800876e">
				<flow-ref doc:name="alert-notification-sub-flow" doc:id="722e6409-e031-41ff-8083-5e9943a60c63" name="alert-notification-sub-flow" />
			</async>

		</on-error-propagate>
		<on-error-propagate type="APIKIT:NOT_IMPLEMENTED" enableNotifications="true" logException="true">
			<logger level="INFO" doc:name="Error Handler Invoked - APIKIT_NOT_IMPLEMENTED" doc:id="06094391-0701-48a6-a32b-cab83da0dc92" message="Error Handler Invoked - APIKIT_NOT_IMPLEMENTED" />
			<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
				xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="9d2e736f-c795-432f-90e5-e8b154fa9825"
				doc:name="Error Response">
				<ee:message>
					<ee:set-payload resource="dwScripts/errorResponse500.dwl" />
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<async doc:name="Async" doc:id="ec282b59-db2f-462a-82de-8d8e5379a141">
				<flow-ref doc:name="alert-notification-sub-flow" doc:id="c2dfbd9c-9293-4a02-83fd-3f5ab4abc2e6" name="alert-notification-sub-flow" />
			</async>

		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="c5e2cfb8-bedc-49bb-abbb-4ebe0c6add01" type="HTTP:CONNECTIVITY">
			<logger level="INFO" doc:name="Error Handler Invoked - HTTP_CONNECTIVITY" doc:id="932cedae-0e42-4519-944f-3b400a4460b3" message="Error Handler Invoked - HTTP_CONNECTIVITY" />
			<set-variable value="HTTP Connectivity error" doc:name="Alert message for HTTP Connectivity error" doc:id="3740453d-b847-4309-92fb-e598d8e3fe00" variableName="alertMessage" />
			<set-variable value='#["HTTP - " ++ ((attributes.statusCode default 500) as String)]' doc:name="Set Http Status" doc:id="21a4afb0-bb3b-493b-933a-345608de10a0" variableName="httpStatus" />
			<set-variable value="#[error.description]" doc:name="Set Error Description" doc:id="1fac82db-0cae-4fe5-a26b-74696e6b008e" variableName="errorDescription" />
			<set-variable value="#[error.cause.message default vars.alertMessage]" doc:name="Set Error Cause" doc:id="e1b33b1f-d9f8-4529-a051-954b1889610f" variableName="errorCause" />
			<async doc:name="Async" doc:id="76b3322f-6c64-44c5-976d-099a50b6a63e">
				<flow-ref doc:name="pf-alert-notification" doc:id="8aae42b1-39b9-46b9-9a2a-8764a54d8ce7" name="pf-alert-notification" />
			</async>
			<flow-ref doc:name="sf-common-error-response" doc:id="18e4e1f5-a15c-4df2-99ab-9f06ef0c3818" name="sf-common-error-response" />

		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="a49f8290-1859-43f3-81ae-13f280e27e09" type="HTTP:FORBIDDEN">
			<logger level="INFO" doc:name="Error Handler Invoked - HTTP_FORBIDDEN" doc:id="ec9d5ee8-099e-45a9-a162-dfd0df3eb555" message="Error Handler Invoked - HTTP_FORBIDDEN" />
			<set-variable value="HTTP Request  Forbidden error" doc:name="Alert message for HTTP Forbidden error" doc:id="e9dc87e7-2fa0-43bc-9995-0fdc6a38f2aa" variableName="alertMessage" />
			<set-variable value='#["HTTP - " ++ ((attributes.statusCode default 403) as String)]' doc:name="Set Http Status" doc:id="4280b546-28a4-4072-8139-a0184fb795c6" variableName="httpStatus" />
			<set-variable value="#[error.description]" doc:name="Set Error Description" doc:id="8305e79f-fc05-4167-b475-21eb25b37df1" variableName="errorDescription" />
			<set-variable value="#[error.cause.message default '']" doc:name="Set Error Cause" doc:id="f7c96058-ca65-45a5-af0c-c8401141e202" variableName="errorCause" />
			<async doc:name="Async" doc:id="44c23c63-7d0e-41fc-886e-5de048229c44">
				<flow-ref doc:name="alert-notification-sub-flow" doc:id="019662a4-4f8c-45b9-b362-e65e6b22b66d" name="alert-notification-sub-flow" />
			</async>
			<flow-ref doc:name="sf-common-error-response" doc:id="41936b43-fa8a-45da-a864-1746d6b23236" name="sf-common-error-response" />

		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="2832599f-bead-42ca-8356-c2625b7c7385" type="HTTP:SERVICE_UNAVAILABLE">
			<logger level="INFO" doc:name="Error Handler Invoked - HTTP_SERVICE_UNAVAILABLE" doc:id="898d76d0-bbfb-41a2-9b4b-427862a06df7" message="Error Handler Invoked - HTTP_SERVICE_UNAVAILABLE" />
			<set-variable value="HTTP Service Unavailable error" doc:name="Alert message for HTTP Service Unavailable error" doc:id="076d289e-9646-45f9-a9ca-ec554afbaaa5"
				variableName="alertMessage" />
			<set-variable value='#["HTTP - " ++ ((attributes.statusCode default 503) as String)]' doc:name="Set Http Status" doc:id="c6d20b8c-6e95-49b1-90a2-c6f8b871ad76" variableName="httpStatus" />
			<set-variable value="#[error.description]" doc:name="Set Error Description" doc:id="2ecf9e94-f201-49b8-80db-a873fcf11095" variableName="errorDescription" />
			<set-variable value="#[error.cause.message default '']" doc:name="Set Error Cause" doc:id="6bbd2db8-35b3-4400-b53c-a219561d2986" variableName="errorCause" />
			<async doc:name="Async" doc:id="0c3a4ae8-3834-4c65-81af-f3a051afbef5">
				<flow-ref doc:name="alert-notification-sub-flow" doc:id="914b885f-b816-48e8-9620-cf2aa280fcba" name="alert-notification-sub-flow" />
			</async>
			<flow-ref doc:name="sf-common-error-response" doc:id="00c9c6b9-f21e-4e75-8d37-f0602f473cbe" name="sf-common-error-response" />

		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="af48935d-05c8-47a0-8bd7-855cddcec403" type="HTTP:TIMEOUT">
			<logger level="INFO" doc:name="Error Handler Invoked - HTTP_TIMEOUT" doc:id="2096186d-417f-41d3-a6ed-c8115f97c295" message="Error Handler Invoked - HTTP_TIMEOUT" />
			<set-variable value="HTTP Request Timeout error" doc:name="Alert message for HTTP Timeout error" doc:id="dc526e5a-75e2-4e7b-a855-c0c090e3b319" variableName="alertMessage" />
			<set-variable value='#["HTTP - " ++ ((attributes.statusCode default 504) as String)]' doc:name="Set Http Status" doc:id="9713916d-8eb8-4534-8905-1ca5345ed760" variableName="httpStatus" />
			<set-variable value="#[error.description]" doc:name="Set Error Description" doc:id="c8951f87-c85e-440f-9521-5d2da503a86f" variableName="errorDescription" />
			<set-variable value="#[error.cause.message default vars.alertMessage]" doc:name="Set Error Cause" doc:id="f6cd5992-f3ce-4978-b8aa-f506eef92dc9" variableName="errorCause" />
			<async doc:name="Async" doc:id="09414714-6791-43d2-a555-ad1f09bcb956">
				<flow-ref doc:name="pf-alert-notification" doc:id="9a6027c5-3e68-4458-81c3-0e1abb89a522" name="pf-alert-notification" />
			</async>
			<flow-ref doc:name="sf-common-error-response" doc:id="f78b6045-de42-46e3-b97e-bc6e5886a10b" name="sf-common-error-response" />

		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="3102bed7-05af-4cb7-b307-2c37f169faa5" type="HTTP:UNAUTHORIZED">
			<logger level="INFO" doc:name="Error Handler Invoked - HTTP_UNAUTHORIZED" doc:id="37159cc5-f9d1-436b-aecb-a9783ca4090f" message="Error Handler Invoked - HTTP_UNAUTHORIZED" />
			<set-variable value="HTTP Request Unauthorized error" doc:name="Alert message for HTTP Unauthorized error" doc:id="fb60ed6f-fe1c-44e2-b0c6-a5525baada68" variableName="alertMessage" />
			<set-variable value='#["HTTP - " ++ ((attributes.statusCode default 401) as String)]' doc:name="Set Http Status" doc:id="fb13b7a7-f1d7-4067-a8a8-c590474e6e58" variableName="httpStatus" />
			<set-variable value="#[error.description]" doc:name="Set Error Description" doc:id="03fa23d7-6565-4345-95bf-1ec931baec04" variableName="errorDescription" />
			<set-variable value="#[error.cause.message default '']" doc:name="Set Error Cause" doc:id="9423908f-6080-4774-8337-3875f63f8202" variableName="errorCause" />
			<!-- <flow-ref doc:name="tx-control-sys-api-Error-sub-flow" doc:id="3fad1577-9832-48c4-96b1-ee94c59296ef" name="tx-control-sys-api-Error-sub-flow"/> -->
			<async doc:name="Async" doc:id="097bc859-0877-4879-8a8f-fa357b211327">
				<flow-ref doc:name="alert-notification-sub-flow" doc:id="3d4e8b27-16cd-4110-8dc5-bb09892edb68" name="alert-notification-sub-flow" />
			</async>
			<flow-ref doc:name="sf-common-error-response" doc:id="1d610014-0cd5-4160-b38e-47f3a5e37872" name="sf-common-error-response" />
		</on-error-propagate>

		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="90b4b2e7-205b-4e35-b995-45f2abc3f6ff" type="HTTP:BAD_REQUEST">
			<logger level="INFO" doc:name="Error Handler Invoked - HTTP_BAD_REQUEST" doc:id="58341ec9-0607-4409-a8cb-202f4c75bac9" message="Error Handler Invoked - HTTP_BAD_REQUEST" />
			<set-variable value="HTTP bad request error" doc:name="Alert message for HTTP bad request error" doc:id="3def2352-4685-4a4a-8a65-1dcac8c1f74c" variableName="alertMessage" />
			<set-variable value='#["HTTP - " ++ ((attributes.statusCode default 400) as String)]' doc:name="Set Http Status" doc:id="d5632421-90a3-495f-9468-8f3d6094d677" variableName="httpStatus" />
			<set-variable value="#[error.description]" doc:name="Set Error Description" doc:id="6fbb4fc7-95ff-4ba4-88fd-7b2bee7bd87f" variableName="errorDescription" />
			<set-variable value="#[error.cause.message default vars.alertMessage]" doc:name="Set Error Cause" doc:id="5833be4a-6883-432f-9477-592bc640f68b" variableName="errorCause" />
			<!-- <flow-ref doc:name="tx-control-sys-api-Error-sub-flow" doc:id="80aa5613-468c-4ae5-b750-389523bc58b9" name="tx-control-sys-api-Error-sub-flow"/> -->
			<async doc:name="Async" doc:id="16cb7c6f-787d-4f47-80ff-7b0dca89c753">
				<flow-ref doc:name="pf-alert-notification" doc:id="d4c04175-cc2b-44d2-a536-2ef092973d60" name="pf-alert-notification" />
			</async>
			<flow-ref doc:name="sf-common-error-response" doc:id="00ed174f-82dd-47db-86a3-76188e4dcaa7" name="sf-common-error-response" />
		</on-error-propagate>

		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="3c6b87e1-6fbd-48b9-b479-741bbf2186b8" type="DYNAMODB:AccessDeniedException, DYNAMODB:CONNECTIVITY, DYNAMODB:ConditionalCheckFailedException, DYNAMODB:IncompleteSignatureException, DYNAMODB:ItemCollectionSizeLimitExceededException, DYNAMODB:LimitExceededException, DYNAMODB:MissingAuthenticationTokenException, DYNAMODB:ProvisionedThroughputExceededException, DYNAMODB:RETRY_EXHAUSTED, DYNAMODB:ResourceInUseException, DYNAMODB:ResourceNotFoundException, DYNAMODB:ThrottlingException, DYNAMODB:Unknown, DYNAMODB:UnrecognizedClientException, DYNAMODB:ValidationException">
				<logger level="INFO" doc:name="Error Handler Invoked - DYNAMODB_ANY_ERROR" doc:id="65e2a1f9-09ac-487d-9f9f-6ab621c71dc8" message="Error Handler Invoked - DYNAMODB_ANY_ERROR" />
			<set-variable value="DynamoDB Error" doc:name="Alert message for DynamoDB Error" doc:id="8f5d28d3-dfe1-446a-9760-6c7b080b3a22" variableName="alertMessage" />
			<set-variable value='#["HTTP - " ++ ((attributes.statusCode default 400) as String)]' doc:name="Set Http Status" doc:id="a434a419-a0dc-4963-9f5f-2d211a1e9b84" variableName="httpStatus" />
			<set-variable value="#[error.description]" doc:name="Set Error Description" doc:id="55c53365-5bf8-418c-9f37-52161caa15f0" variableName="errorDescription" />
			<set-variable value="#[error.cause.message default vars.alertMessage]" doc:name="Set Error Cause" doc:id="ae73c972-bdcb-428a-9b82-2712803fd2bf" variableName="errorCause" />
			<!-- <flow-ref doc:name="tx-control-sys-api-Error-sub-flow" doc:id="3e4456ac-57c0-437f-b185-12316c909a8e" name="tx-control-sys-api-Error-sub-flow"/> -->
			<async doc:name="Async" doc:id="884cf2e2-baee-48b3-87f9-fe0c2a11a2bd">
				<flow-ref doc:name="pf-alert-notification" doc:id="e5214f2e-850a-4411-bc15-a39422703f42" name="pf-alert-notification" />
			</async>
			<flow-ref doc:name="sf-common-error-response" doc:id="e9221edd-4edf-4529-a22f-87d209324054" name="sf-common-error-response" />
			</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ee224216-ce7f-432c-99a2-5cdd71db497a" type="DB:BAD_SQL_SYNTAX, DB:CONNECTIVITY, DB:QUERY_EXECUTION, DB:RETRY_EXHAUSTED">
				<logger level="INFO" doc:name="Error Handler Invoked - RedShiftDB_ANY_ERROR" doc:id="ed4193c0-b5bf-4327-b06e-4269e02e6b5d" message="Error Handler Invoked - RedShiftDB_ANY_ERROR" />
			<set-variable value="RedShiftDB Error" doc:name="Alert message for RedShiftDB Error" doc:id="6952e6c0-340c-4d78-ba53-d4d5348e299a" variableName="alertMessage" />
			<set-variable value='#["HTTP - " ++ ((attributes.statusCode default 400) as String)]' doc:name="Set Http Status" doc:id="791d3616-5110-4c75-93a9-b3e82663f34b" variableName="httpStatus" />
			<set-variable value="#[error.description]" doc:name="Set Error Description" doc:id="1921b690-5951-4849-be14-d584f7400773" variableName="errorDescription" />
			<set-variable value="#[error.cause.message default vars.alertMessage]" doc:name="Set Error Cause" doc:id="bd81efc4-48cf-4533-b452-890279a5123d" variableName="errorCause" />
			<!-- <flow-ref doc:name="tx-control-sys-api-Error-sub-flow" doc:id="f5586f4b-9311-4ae8-b4ed-af6d8204780f" name="tx-control-sys-api-Error-sub-flow"/> -->
			<async doc:name="Async" doc:id="070c6dbd-5d64-4fe1-b5a1-83d5e3bad118">
				<flow-ref doc:name="pf-alert-notification" doc:id="a3b7319f-0014-4d66-a208-42d94002f003" name="pf-alert-notification" />
			</async>
			<flow-ref doc:name="sf-common-error-response" doc:id="0ce8f167-7b49-43ab-af7f-76c6c34c6549" name="sf-common-error-response" />
			</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="6c233e9c-0dc0-43a1-9672-4fd5b860d7dc" type="ANY">
			<logger level="INFO" doc:name="Error Handler Invoked - ANY_ERROR" doc:id="d242f80a-c6f8-4753-bedb-2c83c138f7f1" message="Error Handler Invoked - ANY_ERROR" />
			<set-variable value="DynamoDB Unspecified error" doc:name="Alert Message for Any other type errors" doc:id="a4399315-cc9f-4813-9d86-f7662e5a2fff" variableName="alertMessage" />
			<set-variable value='#[attributes.statusCode default "500"]' doc:name="Set Http Status" doc:id="1f399d4e-da86-47a6-af81-a71fb4ce46f0" variableName="httpStatus" />
			<set-variable value="#[error.description]" doc:name="Set Error Description" doc:id="2b34f5cf-a6d8-4e52-a4b8-89b9ea6a846a" variableName="errorDescription" />
			<set-variable value="#[error.cause.message default vars.alertMessage]" doc:name="Set Error Cause" doc:id="9edc7f70-4157-4cf0-8af1-d7421da617a9" variableName="errorCause" />
			<!-- <flow-ref doc:name="alert-notification-sub-flow" doc:id="fec1e983-6cf0-48ad-9cbb-1585fdc1a521" name="alert-notification-sub-flow" /> -->
			<async doc:name="Async" doc:id="207c2395-a36c-45f8-b4e7-f9d13159ac84">
				<flow-ref doc:name="pf-alert-notification" doc:id="77544ca2-b7f5-4b04-81fc-f0f1ceb68318" name="pf-alert-notification" />
			</async>
			<flow-ref doc:name="sf-common-error-response" doc:id="dd9f691e-8ecd-430c-bdd8-be9d90a12d85" name="sf-common-error-response" />
		</on-error-propagate>


	</error-handler>
	<flow name="pf-alert-notification" doc:id="105df101-71c8-4156-8233-abc7d2303529">
		<cloudhub:create-notification doc:name="Create Notification" doc:id="d53483a5-55a0-4616-b5f1-b6e363e7eae7" config-ref="CloudHub_Config" domain="#[p('cloudhub.domain')]">
			<cloudhub:message><![CDATA[#[vars.alertMessage]]]></cloudhub:message>
			<cloudhub:custom-properties><![CDATA[#[output application/java
---
{
"errorDescription" : vars.errorDescription,
"errorCause" : vars.errorCause,
"timeStamp" : now(),
transactionId: vars.transactionId
}]]]></cloudhub:custom-properties>
		</cloudhub:create-notification>
	</flow>
	<sub-flow name="alert-notification-sub-flow" doc:id="48f4b229-6bdf-4e24-9e08-157070661018">
		<logger level="INFO" doc:name="Triggering Alert Notification" doc:id="8e67470d-80a8-416a-bc51-67ffec02eb46" message='#[correlationId] "Triggering Alert Notification"]' />
		<choice doc:name="Choice" doc:id="bdb7554b-0dc5-4a19-bd55-cb816552e0d8">
			<when expression="#[vars.errorDescription != null and vars.errorCause != null]">
				<parse-template doc:name="Parse Template when error description is not null" doc:id="77d88e39-f563-4a8f-8dd3-a9f477c63742" target="emailTemplate" targetValue="#[payload]"
					location="template\emailTemplate.html" />
			</when>
			<otherwise>
				<parse-template doc:name="Parse Template when error description is null" doc:id="5eee17a1-c151-4e0e-99c6-6e8d27692b20" target="emailTemplate" targetValue="#[payload]"
					location="template\emailTemplateDefault.html" />
			</otherwise>
		</choice>
		<ee:transform doc:name="Email Request Transform" doc:id="52762c93-530b-479f-b5e4-4b453dc56211">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
"attachments" : vars.attachments,
"data" : {
	"from_address" : p('email.fromAddress'),
	"to_addresses": p('email.toAddress'),
	"cc_addresses": "",
	"bcc_addresses": "",
	"reply_to_addresses": "",
	"subject": p('email.subject'),
	"body": {
		"content": "",
		"template": vars.emailTemplate,
"content_type": "text/html"
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Refer email notification flow" doc:id="7163e900-2871-463e-88e0-8343e3345226" name="mf-email-notification-flow" />
		<logger level="INFO" doc:name="Alert Notification Triggered" doc:id="ef1d9301-d7b6-4ac1-8dde-fc0202ec5630" message='#[correlationId] "Alert Notification Triggered"]' />
	</sub-flow>
	<sub-flow name="sf-common-error-response" doc:id="f43fd15e-72d5-4ef9-a64f-c21a006b2d83">
		<logger level="ERROR" doc:name="LOG Error Message" doc:id="40c18852-ba40-40d9-9118-1573bf2b2bf2"
			message='"Error - HTTP Status Code:" #[vars.httpStatus] "Error Message Description :" #[vars.errorDescription]' />
		<ee:transform doc:name="Error Response" doc:id="9116e628-375f-4f71-8534-4b6cdacb7f5b"
			xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    errors:[
    {
        transactionId: correlationId,
        errorCode: vars.httpStatus,
        errorMessage: vars.errorDescription
    }]
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
			</ee:variables>
		</ee:transform>
	</sub-flow>


</mule>
